* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
  background-color: #EFF1F7;
}

html {
  height: -webkit-fill-available;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  height: 100vh;
  height: -webkit-fill-available;
  max-height: 100vh;
  overflow-x: auto;
  overflow-y: hidden;
}

aside {
  /* margin-top: 3.8rem; */
  border-radius: 0 0.75rem 0  0;
  overflow-y: auto;
  background-color: #fff;
}

aside::-webkit-scrollbar {
  width: 15px !important;
  cursor: pointer !important;
}

aside::-webkit-scrollbar:hover {
  scrollbar-width: auto !important;
}

aside::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(20.2%, #5f5fce), color-stop(100.2%, #00d4ff));
  background-image: linear-gradient(180deg, #5f5fce 20.2%, #00d4ff 100.2%);
}

aside::-webkit-scrollbar-thumb:hover {
  border: 2px solid lightcyan;
}

aside::-webkit-scrollbar-track-piece {
  -webkit-box-shadow: inset 0 0 12px rgba(159, 213, 226, 0.699);
  box-shadow: inset 0 0 12px rgba(159, 213, 226, 0.699);
}

header {
  -webkit-filter: drop-shadow(2px 4px 6px #d8d8d8);
          filter: drop-shadow(2px 4px 6px #d8d8d8);
  background-color: #7267EF;
  padding: 0.55rem 2rem;
}

.manual-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dropdown-toggle::after {
  display: none;
}

.nav-icon {
  margin: 0 1.5rem;
}

.nav-icon li {
  padding: 0 0.35rem;
}

.ts-logo-img {
  height: 40px;
  width: 170px;
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
}

.canvas-mail-btn {
  color: #fff;
  background-color: transparent;
  border-color: transparent;
}

.canvas-mail-btn:hover {
  background-color: #877EF1;
  border-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.admin-info {
  text-transform: capitalize;
  font-weight: 600;
  margin: 0 0 0 10px;
}

.admin-info p {
  margin: 0;
  color: #dadada;
}

.btn-toggle {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: .25rem .5rem;
  font-weight: 600;
  color: #1c232f;
  background-color: transparent;
  border: 0;
  width: 100%;
}

.btn-toggle:hover, .btn-toggle:focus {
  color: rgba(0, 0, 0, 0.85);
  background-color: #DFE7F1;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn-toggle::after {
  width: 1.25em;
  line-height: 0;
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
  -webkit-transition: -webkit-transform .35s ease;
  transition: -webkit-transform .35s ease;
  transition: transform .35s ease;
  transition: transform .35s ease, -webkit-transform .35s ease;
  -webkit-transform-origin: .5em 50%;
          transform-origin: .5em 50%;
}

.btn-toggle[aria-expanded="true"] {
  color: rgba(0, 0, 0, 0.85);
}

.btn-toggle[aria-expanded="true"]::after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.btn-toggle-nav a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: .1875rem .5rem;
  margin-top: .125rem;
  margin-left: 1.25rem;
  text-decoration: none;
  width: 80%;
}

.btn-toggle-nav a:hover {
  color: #8379F1;
}
/*# sourceMappingURL=style.css.map */